<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:fragment="title">Home - ViVu Store</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="intro relative">
            <img th:src="@{/images/bg.jpg}" alt="Background Intro" class="w-full">
            <div
                class="intro-content absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-white">
                <h1 class="text-2xl">Welcome to ViVu Store</h1>
                <p class="text-lg">The best place to buy your favorite products</p>
            </div>
        </div>
    </section>
</body>

</html>